@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic,900|Source+Code+Pro);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to bottom, #eee, rgba(222,112,6,0.2), #de7006);
    font-size: 1.07em;
    line-height: 1.45;
}

a {
    text-decoration: none;
    color: #2793C7;
}

a:hover {
    color: #333;
}

.header{
    background: white;
    width: 100%;
    height: 12rem;
}

.author {
    margin: 0 5% -0.8em 5%;
    background:  rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: center;
}


.title {
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.warning_border {
    box-shadow:  0 0 15px rgba(0,0,0,0.15);
    margin: 2% -10% 2% -10%;    
    padding: 5%;
}


.container {
    display: block;
    margin-left: 12.500em;
    margin-right: 12.500em;
    margin-top: 10px;
}

.post {
    padding: 2% 10%;
    border-radius: 10px;
    background: white;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 1.4em;
    margin: 10px 0 10px 0;
    color: black;
    text-align: center;
}

.btn {
    font-family: inherit;
    padding: 5px 8px;
    font-weight: bold;
    border: 1px solid #D4D4D4;
    box-shadow: inset 0 1px 0 #FDFDFC;
    background:  linear-gradient(to bottom, #F4F4F2, #EDEDEB);
    color:#444;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background: linear-gradient(to bottom, #EBEBEB, #C7C7C3);
}


.trainer_src {
    margin-top: 4%;
    font-size: 1.2em;
    text-align: center;
}

.trainer_p {
    text-align: center;
}

.trainer_src a {
    text-decoration: none;
}

.trainer_photo {
    width: 149px;
    margin: 0 auto;
}

.trainer_photo_src {
    margin: 0 auto;
    border-radius: 50%;
}

.cost_text_ul{
    padding-left: 15%;
}

.subscribe {
    margin-top: 2em;
    padding-top: 2.3em;
    text-align: center;
}

h4 {
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    font-size: 1.4rem;
    margin: 0 0 0.8rem 0;
    color: white;
}

.aboutus_email {
    font-family: inherit;
    border: 1px solid #ccc;
    padding: 5px;
}

.about {
    padding-top: 5em;    
}

.about_p {
    margin: 0 0 5px 2%;
    max-width: 400px;
    font-size: 0.9em;
    font-weight: 400;
    color: white;
}

.btn_submit {
    font-size: 100%;
    padding: 2px 20px;
    border: 1px solid #D4D4D4;
    border-color: white;
    background: rgba(255,255,255,0.2);
    font-family: inherit;
    box-shadow: none;
    border-radius: 2px;
    color: white;
    font-weight: bold;
}

.btn_submit:hover {
    background: rgba(255,255,255,0.4);
}

.footer_block {
    padding: 10px;
    background: #222;
    border-top: 1px solid #F7AA62;
    text-align: right;
    box-shadow:  0 -4px 3px rgba(0,0,0,0.15);
    line-height: 2;
}

.footer_block a {
    color:white;
    padding-right: 7px;
}

.footer_block a:hover {
    color:#e18728;
}

@media (max-width: 68.75em) {
    .container {
        margin-left: 2%;
        margin-right: 2%;
    }    
}


/*  slider */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }