* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic,900|Source+Code+Pro');


body{
    background: linear-gradient(to bottom, #eee, rgba(222,112,6,0.2), #de7006);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.07em;
    line-height: 1.45;
}

.header{
    display:block;
    position: relative;
    width: 100%;
    height: 200px;
}

.day {
    box-shadow:  0 0 15px rgba(0,0,0,0.15);
    margin-left: -10%;
    margin-right: -10%;
    padding: 5%;
}


.container {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
}

.post {
    padding: 10%;
    border-radius: 10px;
    background: white;
}

img {
    max-width: 100%;
}

h2 {
    font-size: 1.4em;
    margin: 10px 0 10px 0;
    color: black;
    text-align: center;
}

.btn {
    font-family: inherit;
    padding: 5px 8px;
    font-weight: bold;
    border: 1px solid #D4D4D4;
    box-shadow: inset 0 1px 0 #FDFDFC;
    background:  linear-gradient(to bottom, #F4F4F2, #EDEDEB);
    color:#444;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background: linear-gradient(to bottom, #EBEBEB, #C7C7C3);
}

.menu_btn {

}

.trainer_src {
    margin-top: 4%;
    font-size: 1.2em;
    text-align: center;
}

.trainer_src a {
    text-decoration: none;
}

.trainer_photo {
    width: 149px;
    margin: 0 auto;
}

.trainer_photo_src {
    margin: 0 auto;
    border-radius: 50%;
}

.cost_text_ul{
    padding-left: 15%;
}

.contact_btn {
  }

.contact_btn a {
    
}

@media (max-width: 48.75em) {
    .container {
        margin-left: 2%;
        margin-right: 2%;
    }    
}