@import url('https://fonts.googleapis.com/css?family=Marmelad|Roboto');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', arial, serif;
    max-width: 1600px;
    min-height: 100%;
    font-size: 16px;
    color: #4d5659;
}

.header {
    padding: 10px 50px 10px;
    border-bottom:  1px solid #f7f7f7;
}

a {
    text-decoration: none;
}

ul, li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    display: inline-block;
    position: relative;
    padding: 10px 15px 0 35px;
    font-family: "Marmelad", arial, serif;
    font-size: 19px;
    font-weight: ;
    color: #272b2d;
}

.logo::before {
    display: block;
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../i/logo.svg");
    background-size: auto 35px;
    background-repeat: no-repeat;
}

a, h1,h2,h3 {
    color:#12acef;
    outline: none;
}

h1,h2,h3 {
    font-family: "Marmelad", arial, serif;
}

.main-menu {
    &_nav {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &_li {
        display: inline-block;
        margin-right: 5px;
        
        
        
        & a:hover {
            color: #0d8ac1;
            outline: none;
        }
    }
}

.post {
    border-bottom:  1px solid #f7f7f7;

    
    @media (max-width: 600px) {
        
        padding-bottom: 15px;
    }

    
    &_image {
        display: block;
        width: 50%;
        
        @media (max-width: 600px) {
            margin: 0 auto;
            width: 100%;
        }
        @media (max-width: 990px) {
            width: 100%;
            margin: 0 auto;
        }
        
    }
    
    &_about {
        padding: 8% 0 0 30px ;
        @media (max-width: 600px) {
            padding: 0;
        }
        @media (max-width: 990px) {
            padding: 0;
        }
    }
    
    &_topic {
        font-family: "Marmelad", arial, serif;
        font-size: 22px;
        padding: 24px 0;
        font-weight: 500; 
        
        &:hover {
            text-decoration: underline;
        }
        
        @media (max-width: 600px) {
            font-size: 18px;
        
        }
    }
    
    &_date {
        font-style: italic;
        font-size: 14px;
        color: black;
        
    }
    
}


.footer {
    display: block;
    text-align: center;
    
    
    &_social-links {
        display: block;
    }
    
    &_social-links li {
        display: inline-block;
    }
    
    &_h3{
        color: black;
        font-weight: 200;
        padding: 40px 0 15px 0;
    }
}

.icon {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #12acef;
    fill: white;
    
    
    @media (max-width: 600px) {
        width: 35px;
        height: 35px;
    }
    
    &_vk {
        background: url("../i/vk.svg") no-repeat; 
    }
    
    &_inst {
        background: url("../i/instagram.svg") no-repeat; 
        
    }
    
    &:hover {
        opacity: .9;
    }
}

.container {
    margin: 0 auto;
    max-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
}

.posttext {
    padding: 20px;
    border-bottom:  1px solid #f7f7f7;
    
    &_h3 {
        color: black;
        font-size: 30px;
        padding: 24px 0;
        font-weight: 500;
    }
    
    &p{
        padding-bottom: 15px;
    }
    
    &_p {
        padding: 10px;
        font-size: 20px;
        font-style: normal;
        font-weight: lighter;
    }
    
    &_image {
        width: 100%;
    }
    
    &_border {
        padding-bottom: 15px;
        border-top: 1px solid #f7f7f7;
    }
}